/*
* @rvargask8
* Created by : Roberto Vargas
* website : www.tejateagency.com
*/


/* Table of Content
==================================================
	- Google fonts & font family -
	- General -
    - typography -
    - Preloader -
	- Header -
*/


/* General
==================================================*/

html,
body {
    height: 100%;
    font-family: 'Saira-Regular', sans-serif !important;
    line-height: 1.8;
    color: #999;
    font-size: 17px;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.main-container {
    padding: 100px 0;
}

.center {
    text-align: center;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s;
    font-family: 'Saira', sans-serif !important;
}

.uppercase {
    text-transform: uppercase;
}

.h-30 {
    height: 30px
}

.h-10 {
    height: 10px
}
.color-pink {
    color: #fb16c1;
}
.color-white{
    color: #fff;
}
.color-black{
    color: #000;
}
.color {
    color: #ffbf00;
    font-size: 11px;
}
.color_yellow{
	color: #faed19;
}

/* typography
==================================================*/

h1 {
    color: #000;
    font-weight: 900;
    font-family: 'Saira', sans-serif !important;
}
h2 {
    color: #000;
    font-weight: 900;
    font-family: 'Saira', sans-serif !important;
}
h3 {
    color: #000;
    font-family: 'Saira', sans-serif !important;
}
h4 {
    color: #000;
    font-family: 'Saira', sans-serif !important;
}
h5 {
    color: #ffbf00;
    font-family: 'Saira', sans-serif !important;
}
p {
	font-family: 'Saira', sans-serif !important;
    font-size: 17px;
}
ul li {
    font-family: 'Saira', sans-serif !important;
    font-size: 17px;
}
span {
    font-family: 'Saira', sans-serif !important;
    font-size: 17px;
}
label {
    font-family: 'Saira', sans-serif !important;
    font-size: 17px;
}


/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    /* change if the mask should be a color other than white */
    z-index: 1000;
    /* makes sure it stays on top */
}

.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffbf00;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/* header
==================================================*/

.box-header {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    height: 50px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-header {
    height: 80px;
    background: transparent;
    box-shadow: none;
}

.box-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-header.is-fixed {
    position: fixed;
    top: -100px;
    background-color: transparent;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.box-header.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.box-header.menu-is-open {
    background-color: #000;
}

.box-logo {
    display: block;
    padding: 20px;
    padding-left: 50px;
}

.box-primary-nav-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #fff;
}

.box-primary-nav-trigger .box-menu-text {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    display: none;
}

.box-primary-nav-trigger .box-menu-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    list-style: none;
}

.box-primary-nav-trigger .box-menu-icon::before,
.box-primary-nav-trigger .box-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s;
}

.box-primary-nav-trigger .box-menu-icon::before {
    top: -5px;
}

.box-primary-nav-trigger .box-menu-icon::after {
    top: 5px;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before,
.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    background-color: 393939;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.box-primary-nav-trigger {
    width: 50px;
    background-color: #000;
    height: 50px;
    line-height: 30px;
    right: 20px;
    top: 60%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box-primary-nav-trigger .box-menu-text {
    display: inline-block;
}

.box-primary-nav-trigger .box-menu-icon {
    left: auto;
    right: 0.7em;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}

.box-primary-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    list-style: none;
}

.box-primary-nav li {
    font-size: 20px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: .5em 0;
    text-align: left;
    list-style: none;
}

.box-primary-nav a {
    display: inline-block;
    padding: .4em 0em;
    border-radius: 0.25em;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.box-primary-nav a:hover {
    color: #ff45c2;
}
.box-primary-nav a:focus {
    outline: none;
}

.no-touch .box-primary-nav a:hover {
    text-decoration: none;
    color: #ddd;
}

.box-primary-nav .box-label {
    color: #ffbf00;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    margin: 2.4em 0 .8em;
}

.box-primary-nav .box-social {
    display: inline-block;
    margin: 10px .4em;
}

.box-primary-nav .box-social a {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 30px
}

.box-primary-nav.is-visible {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.box-primary-nav {
    padding: 80px 0 0;
}
.detras-ceo{
	font-size: 7rem;
	margin-top: 0px;
	margin-bottom: 50px;
}
.social-icon{
	text-align: left;
	margin-top: 5rem;
}
.border-left{
	border-left: 2px solid #232323;
}
.border-left-contenido{
    border-left: 1px solid #cecece;
}

/* box-intro
==================================================*/

.box-intro {
    text-align: center;
    display: block;
    height: 100vh;
    width: 100%;
}

.box-intro .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.box-intro em {
    font-style: normal;
    text-transform: uppercase
}

b i:last-child {
    color: #ffbf00 !important;
}

.box-intro h5 {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #999;
    line-height: 1.7
}


/* mouse effect */

.mouse {
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 40px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid #888;
    -webkit-animation: intro 1s;
    animation: intro 1s;
}

.scroll {
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 4px;
    background: #888;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;
}

@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}


/* text rotate */

.box-headline {
    font-size: 130px;
    line-height: 1.0;
}

.box-words-wrapper {
    display: inline-block;
    position: relative;
}

.box-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.box-words-wrapper b.is-visible {
    position: relative;
}

.no-js .box-words-wrapper b {
    opacity: 0;
}

.no-js .box-words-wrapper b.is-visible {
    opacity: 1;
}

.box-headline.rotate-2 .box-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}

.box-headline.rotate-2 i,
.box-headline.rotate-2 em {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-headline.rotate-2 b {
    opacity: 0;
}

.box-headline.rotate-2 i {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
}

.is-visible .box-headline.rotate-2 i {
    opacity: 1;
}

.box-headline.rotate-2 i.in {
    -webkit-animation: box-rotate-2-in 0.4s forwards;
    animation: box-rotate-2-in 0.4s forwards;
}

.box-headline.rotate-2 i.out {
    -webkit-animation: box-rotate-2-out 0.4s forwards;
    animation: box-rotate-2-out 0.4s forwards;
}

.box-headline.rotate-2 em {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.no-csstransitions .box-headline.rotate-2 i {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0;
}

.no-csstransitions .box-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.no-csstransitions .box-headline.rotate-2 .is-visible i {
    opacity: 1;
}

@-webkit-keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
    }
}

@keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}

@-webkit-keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
    }
}

@keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}


/* ponentes section
==================================================*/

.ponente .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.ponente .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.ponente .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.ponente .categories-grid .categories ul li a:hover,
.ponente .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.ponente .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #ffbf00;
    padding: 0px 20px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.ponente_filter {
    padding-left: 0;
}

.ponente_item {
    position: relative;
    overflow: hidden;
    display: block;
}

.ponente_item .ponente_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(253, 237, 24, .9);
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.ponente_item .ponente_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.ponente_item .ponente_item_hover .item_info span {
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 900;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
    opacity: 0;
}

.ponente_item .ponente_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 25px;
    color: #333;
    margin-top: 10px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
}

.ponente_item:hover .ponente_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.ponente_item:hover .item_info em,
.ponente_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.ponente .categories-grid .categories ul li {
    float: left;
}

.ponente .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.ponente_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.ponente-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}
.ver-ponente i{
    font-size: 10px;
    color: #fff;
}
.ponente-social i {
    color: #000;
    font-size: 30px;
}
.ponente-social i:hover {
    color: #fb16c1;
}
.ver-ponente {
    font-style: normal;
    display: inline-block;
    justify-content: center;
    background:#fb16c1;
    padding: 5px 20px;
    color: #fff !important;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
}
.ver-ponente{
    cursor: pointer;
    font-size: 14px !important;
}
.modal-dialog {
    z-index: 1000 !important;
}
.modal-backdrop {
    z-index: 100 !important;
}
.ponenteModals .modal-content{
    background: #00ffff;
    color: #000;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
}
.semblanza-contener p {
    color: #000 !important;
    font-weight: 300;
    font-size: 15px !important;
}
.semblanza-contener li{
    color: #000 !important;
    font-weight: 300;
    font-size: 15px !important;
}
.titulo-ponente-modal{
    color: #fff;
    background-color: #000;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 #fb16c1;
}
.titulo-nombre{
    font-weight: 500;
    font-size: 20px;
}




/* footer
==================================================*/

footer {
    padding: 20px 0 50px 0;
    text-align: center;
    background: #fdeb00;
}
.copyright {
    font-size: 14px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 0;
}
.ceo-copyright{
    font-weight: 900 !important;
}
footer img {
    margin: 0 auto;
}



/* About page
==================================================*/

.top-bar {
    color: #333;
    padding: 150px 0 150px;
    background: -webkit-linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/01.jpg);
    background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(../img/01.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.top-bar h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    line-height: 50px;
}

.top-bar p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #777;
}

.top-bar p a {
    color: #777;
}

.top-bar p a:hover,
.top-bar p a:focus {
    color: #555;
    text-decoration: none;
}

.social-ul {
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

.social-ul li {
    margin: 0 10px;
    float: left;
}

.social-ul li a {
    font-size: 25px;
    color: #555;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.social-ul li a:hover {
    color: #888;
}




/* ---------------------------------------------
------------------------------------------------
        Responsive media queries
------------------------------------------------
------------------------------------------------
===============================================*/

@media (max-width: 991px) {
    .ponente .categories-grid span {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }
    .ponente .categories-grid .categories ul li {
        text-align: center;
    }
    .ponente .categories-grid .categories ul li a {
        margin-left: 0;
    }
    .col-md-6 h3 {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 670px) {
    .box-headline {
        font-size: 100px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .box-primary-nav a {
        padding: 5px 1em;
        font-size: 18px;
    }
    .box-primary-nav {
        padding: 80px 0 0;
    }
    .box-primary-nav .box-social a {
        font-size: 23px;
    }
    .top-bar h1 {
        font-size: 40px;
        line-height: 30px;
    }
    .ponente .categories-grid .categories ul li {
        float: none;
    }
    .box-intro{
        height: 100% !important;
    }
    .space-bottom-10{
        margin-top: 40px !important;
    }
    .float-right-ediciones{
       float: none !important;  
       margin-top: 20px !important;
    }
    .space-100-newsletter {
        margin-top: 40px !important;
    }
    .space-80-mobile{
        margin-top: 80px !important;
    }
    .space-20-mobile{
        margin-top: 20px !important;
    }
    .astronauta-absolut{
        display: none !important;
    }
    .title-heading {
        top: -25%  !important;
        left: 50%  !important;
    }
    .space-quienes {
        padding-top: 50px !important;
    }
    .grid-bazar-full {
        margin-top: 0px !important;
    }
    .space-mobile-30{
        margin-top: 30px !important
    }
}

@media only screen and (max-width: 520px) {
    .box-headline {
        font-size: 80px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .main-container {
        padding: 50px 0;
    }
    .block-desktop{
        display: none !important;
    }
    .block-mobile{
        display: block !important;
    }
    .live-video {
        height: 400px !important;
    }
    .circulo-invitacion{
        max-width: 100% !important;
    }
    .ponentes-home  {
        background-attachment: scroll;
    }
    .space-colegas-150{
        margin-top: 5px !important;
    }
    .margin-left-20 {
        margin-left: 0px !important;
    }
    .buttonEdiciones{
        width: 100% !important;
    }
    .margin-top-mobile-20 {
        margin-top: 20px !important;
    }
    .margin-top-mobile-30 {
        margin-top: 30px !important;
    }
    .margin-top-mobile-50 {
        margin-top: 50px !important;
    }
    .margin-top-mobile-80 {
        margin-top: 80px !important;
    }
    .margin-top-mobile-100 {
        margin-top: 100px !important;
    }
    .ponentes-home{
        padding: 20px !important;
    }
    .astronauta-header{
        width: 250px;
    }
    .texter-to-center{
        text-align: center !important;
    }
    .title-heading {
        top: -20% !important;
        left: 0% !important;
    }
    .space-quienes {
        padding-top: 25px !important;
    }
    #quienes-somos p{
        text-align: left;
    }
    .title-header-ceo{
        margin-top: 80px !important;
    }
    .space-ceo {
        margin-top: 50px !important;
    }
    #section-economia-social {
        padding-bottom: 100px !important;
    }
    .title-header-ponentes{
        margin-top: 100px !important;
    }
    .grid-ponentes-full {
        margin-top: 0px !important;
    }
    .title-header-bazar{
        margin-top: 150px !important;
    }
    .grid-bazar-full {
        margin-top: 0px !important;
    }
    .live-chat{
        display: none !important; 
    }
    .circle-img{
        display: none !important; 
    }
    .space-100-newsletter{
        margin-top: 50px !important;
    }
    .container-rrss{
        margin-top: 80px;
    }
    .detras-ceo {
        font-size: 5rem;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .astronauta-absolut {
        top: -280px !important;
        left: 10% !important;
    }
    .space-100-economia{
        margin-top: 50px !important;
    }
    .space-20-mobile{
        margin-top: 20px !important;
    }
    .left-tabs.nav-tabs {
        min-width: 100%;
        padding-bottom: 2rem !important;
    }
    .grid-ponentes {
        margin-top: 0px !important;
    }
    .astronauta-absolut img {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        display: none !important;
    }
    .float-right-ediciones{
       float: none !important;  
       margin-top: 20px !important;
    }
    .space-menu-mobile{
        margin-top: 100px;
    }
    .logo-mobile img{
        width: 100px !important;
    }
    .box-intro{
        height: auto !important;
    }
    .rrss {
        right: 10px !important;
    }
    .responsive-iframe {
      height: 200px !important;
      width: 100% !important;
    }
    .space-bottom-ponentes {
        margin-top: 25px !important;
    }
    .cargo-ponente{
        display: none !important;
    }
    .box-primary-nav li {
        margin: .8em 0 !important;
    }
    .social-icon .box-social{
        margin: 10px .6em !important;
    }
    .box-primary-nav {
        z-index: 1000 !important;
    }
    .box-header {
        z-index: 1001 !important;
    }
    .space-mobile-30{
        margin-top: 30px !important
    }
}

@media only screen and (max-width: 480px) {
    .box-headline {
        font-size: 50px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .top-bar h1 {
        font-size: 30px;
        line-height: 30px;
    }
}


/* ---------------------------------------------
------------------------------------------------
        GENERAL
------------------------------------------------
------------------------------------------------*/
.sideways-tabs.left-tabs .nav-link, .sideways-tabs.right-tabs .nav-link, .nav-tabs .nav-link {
    width: auto !important;
}
.space-10{
    margin-top: 10px;
}
.space-bottom-10{
    margin-top: 20px;
}
.space-20{
    margin-top: 20px;
}
.space-30{
    margin-top: 30px;
}
.space-40{
    margin-top: 40px;
}
.space-50{
    margin-top: 50px;
}
.space-80{
    margin-top: 80px;
}
.space-100{
    margin-top: 100px;
}
.space-100-newsletter{
    margin-top: 60px;
}
.space-100-economia{
   margin-top: 100px; 
}
.space-150{
    margin-top: 150px;
}
.space-200{
    margin-top: 200px;
}
hr{
    border-top: 1px solid #c1c1c1 !important;
}
.block-desktop{
    display: block;
}
.block-mobile{
    display: none;
}
#section-ediciones .slick-slide {
    padding-left: 15px;
}
.no-margin-top{
    margin-top: 0px;
}
.no-margin-bottom{
    margin-top: 0px;
}
.weight-300{
    font-weight: 300;
}
.weight-500{
    font-weight: 500;
}
.weight-900{
    font-weight: 900;
}
.img-grayscale{
   -webkit-filter: grayscale(1);
   filter: grayscale(1);
}
.img-grayscale:hover{
   -webkit-filter: grayscale(0);
   filter: grayscale(0);
}
.sepia:hover {
   -webkit-filter: sepia(1);
   filter: sepia(1);
}
.grayscale:hover {
   -webkit-filter: grayscale(1);
   filter: grayscale(1);
}
.margin-left-20{
    margin-left: 20px;
}
.rrss {
  position: fixed;
  bottom: 40px;
  right: 20px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none,
  padding-left: 0rem;
  list-style-type: none;
}
.rrss img {
    width: 22px;
    height: auto;
}
.rrss li a {
  position: relative;
  width: 40px;
  color: #000;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  text-align: center;
  -webkit-transition: background .5s ease .300ms;
  -moz-transition: background .5s ease .300ms;
  -o-transition: background .5s ease .300ms;
  transition: background .5s ease .300ms;
  padding: 10px
}
.rrss li:first-child img:hover {
  fill: #ff0ed3;
}

.rrss li:nth-child(2) img:hover {
  color: #ff0ed3
}

.rrss li:nth-child(3) img:hover {
  color: #ff0ed3
}

.rrss li:nth-child(4) img:hover {
  color: #ff0ed3
}
.ion-ios-download{
    font-size: 30px;
}
.download-resouces:hover{
    color: #000;
}
.owl-carousel .owl-item img {
    width: auto !important;
    display: flex !important;
    margin: auto;
    text-align: center;
}
.modal-header .close {
    margin-top: 5px !important;
    margin-right: 10px;
    font-size: 35px;
    color: #000;
    opacity: 1;
}
.modal-header {
    padding: 0px !important;
    border-bottom: none !important;
    background: #0ff;
}
.modal-body {
    padding-top: 0px !important; 
}




/* ---------------------------------------------
------------------------------------------------
            HOME
------------------------------------------------
------------------------------------------------*/
@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-10%, 5%) }
  30% { transform:translate(8%, -15%) }
  40% { transform:translate(-5%, 15%) }
  50% { transform:translate(-10%, 10%) }
  60% { transform:translate(10%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(5%, 20%) }
  90% { transform:translate(-10%, 10%) }
}

 .live-streaming{
    background: #f9ef07 url('../img/home/bg_Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
} 
.mt-100{
	margin-top: 2.5%;
}

.live-video {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width:100%; 
    -webkit-box-shadow: 0px 7px 38px -8px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 7px 38px -8px rgba(0,0,0,0.8);
    box-shadow: 0px 7px 38px -8px rgba(0,0,0,0.8);
}

.live-video::after {
    padding-top: 45%;
    display: block;
    content: '';
}

.live-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.noise-{
    margin-top: -12px;
}
.grid-ponentes{
	margin-top: -5%;
}
.ponentes-home {
    background: url('../img/home/bg_home_ponentes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    padding:80px;
    min-height: 500px;
}
.aliados-iconos-v1{
    text-align: center;
}
.aliados-iconos-v2{
    margin-top: 20px;
    text-align: center;
}
.float-right{
    float: right;
}
.float-right-ediciones{
   float: right;  
}
#section-ponentes p{
    color: #fff;
}
.title-ponentes {
    border-bottom: 1px solid #fff;
}
.link-ediciones{
    padding: 8px;
    border:1px solid #000;
    font-size: 16px;
    font-weight: 300;
    width: 30%;
    text-align: center;
    margin:auto;
    margin-top: 25px;
}
.ediciones-anteriores a:hover{
    color: #fff;
    text-decoration: none;
}
.ediciones-anteriores a{
    color: #000;
    text-decoration: none;
}
.background-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffed00;
}
.coolButton {
  position: relative;
  position: relative;
  margin-top: 12%;
  background-color: #00ffff;
}
.coolButton a {
  position: relative;
  padding: 15px 60px;
  display: block;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: black;
  z-index: 2;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.background-btn-ediciones {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fdeb00;
}
.buttonEdiciones {
  position: relative;
  position: relative;
  width: 50%;
  text-align: center;
  margin: auto;
  border: 1px solid #000;
}
.buttonEdiciones a {
  position: relative;
  padding: 15px 60px;
  display: block;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: black;
  z-index: 2;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.title-aliados{
    font-family: 'Saira', sans-serif !important;
}
.space-colegas-150{
    margin-top: 150px;
    width: 100%;
}
.circulo-invitacion{
     animation: grain 8s steps(10) infinite;
}
.newsletter{
    background-color: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    font-family: 'Saira', sans-serif !important;
    font-size: 20px;
}
.border_newsletter_v1{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    height: 50px;
}
.border_newsletter_v2{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    height: 50px;
}
.btn-newsletter{
    margin-top: 8px;
    color: #ff0fc6;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Saira', sans-serif !important;
    text-align: center;
    cursor: pointer;
}
#email_newsletter{
    border: 1px solid #f1f1f1;
    border-radius: 0px;
    margin-top: 8px;
    color: #000;
}
.hidden{
    display: none !important;
}
.block_organizadores { 
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed !important; 
    bottom:0;
    left: 0;
    width:100%;
    text-align: center; 
    background-color: #fff; 
    opacity: 1;
    margin: 0;
    z-index: 100;
}
.block_organizadores img { 
    margin: auto;
    text-align: center; 
}
.live-chat{
    padding-top: 118%;
}
.border_newsletter_v1 .form-control{
    border-radius: 0px;
    margin-top: 8px;
    border: 1px solid #000;
    box-shadow: none;
}
.btn-newsletter {
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 900;
    border: none !important;
    width: 100%;
}
.btn-newsletter:active {
    outline: none;
    border: none;
}
.btn-newsletter:focus {
    outline:0;
}
.swal-modal{
    font-family: 'Saira', sans-serif !important;
}
.aliados-iconos-v1 .owl-item img{
    width: 150px !important;
    text-align: center;
}
.aliados-iconos-v2 .owl-item img{
    width: 150px !important;
    text-align: center;
}
.owl-nav span {
    font-size: 30px;
}
.owl-prev{
    margin-left: 10px;
}
.cargo-ponente{
    width: 100%;
}



/* ---------------------------------------------
------------------------------------------------
            QUIENES SOMOS
------------------------------------------------
------------------------------------------------*/
.title-heading{
    position: absolute;
    top: 15%;
    left: -10%;
}
.title-heading h1{
    font-size: 45px;
}
#quienes-somos{
    background: url('../img/quienes-somos/back_quienesomos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.space-quienes{
     padding-top: 250px;
}
#section-mision{
    background: url('../img/quienes-somos/glitch.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left bottom;
    padding-bottom: 10px;
    border-bottom: 2px solid #cccccc !important;
}
.astronauta-header {
    animation: grain 80s steps(50) infinite; 
}

.contact-info i {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #faed19;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
    color: #000;
    font-size: 21px;
}

/* ---------------------------------------------
------------------------------------------------
            QUE ES CEO
------------------------------------------------
------------------------------------------------*/

.title-header-ceo h1{
    font-size: 45px;
}
#interior-ceo{
    background: url('../img/ceo/back_ceo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.astronauta-flotante {
     animation: grain 30s steps(20) infinite;
}
.subtexto{
    font-size: 15px;
    font-style: italic;
}
.space-ceo {
    margin-top:100px;
}
.position-relative{
    position: relative;
}
.astronauta-absolut {
    animation: grain 50s steps(30) infinite;
    position: absolute;
    top: -250px;
    left: 5%;
}
#section-economia-social{
    background: url('../img/quienes-somos/mountain.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    padding-bottom: 200px;
}


/* ---------------------------------------------
------------------------------------------------
           PONENTES
------------------------------------------------
------------------------------------------------*/

.title-header-ponentes h1{
    font-size: 45px;
}
.space-ponentes {
    margin-top:50px;
}
#interior-ponentes{
    background: url('../img/home/bg_home_ponentes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
.grid-ponentes-full{
    margin-top: -25%;
}


/* ---------------------------------------------
------------------------------------------------
           BAZAR
------------------------------------------------
------------------------------------------------*/

.title-header-bazar h1{
    font-size: 50px;
}
.space-bazar {
    margin-top:30px;
}
#interior-bazar{
    background: url('../img/bazar/back_bazar.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}
.grid-bazar-full{
    margin-top: -22%;
}
.img-auto{
    margin: auto;
}
.cat-bazar {
    border-bottom: 1px solid #000;
}
.bg-white{
    background-color: #fff;
}


/* portfolio bazar section
==================================================*/

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 10px;
    margin: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #fdeb00;
    padding: 2px 20px;
    color: #000;
    border-radius: 25px;
    text-decoration: none;
}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
    opacity: 0;
}

.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: #ffbf00;
    padding: 5px 20px;
    border-radius: 25px;
    color: #333;
    margin-top: 10px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 2px 20px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}
.grid-bazar {
    background: url('../img/bazar/pleca_azul.jpg');
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    padding-bottom: 5%;
}
.video-bazar {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.video-bazar iframe, .video-bazar object, .video-bazar embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.slide-bazar{
    margin-top: 10px;
}

.detail-bazar .bazares{
    display: none;
}
.activarBazar{
    display: block !important;
}
.slide-categoria-bazar .owl-dots{
    display: none;
}
/* The Modal (background) */
#imagesModal .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
#imagesModal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

/* Caption of Modal Image */
#imagesModal #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
#imagesModal .modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
#imagesModal .close {
  position: absolute;
  top: -10px;
  right: 5%;
  color: #fff !important;
  text-shadow: none !important;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#imagesModal .close:hover,
#imagesModal .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  #imagesModal .modal-content {
    width: 100%;
  }
}

#imagesModal .img-responsive {
    margin: 0 auto;
    cursor: pointer;
}




/** * Animation keyframes */
 @-webkit-keyframes gradient {
     0% {
         background-position: 0% 50%;
    }
     50% {
         background-position: 100% 50%;
    }
     100% {
         background-position: 0% 50%;
    }
}
 @-moz-keyframes gradient {
     0% {
         background-position: 0% 50%;
    }
     50% {
         background-position: 100% 50%;
    }
     100% {
         background-position: 0% 50%;
    }
}
 @keyframes gradient {
     0% {
         background-position: 0% 50%;
    }
     50% {
         background-position: 100% 50%;
    }
     100% {
         background-position: 0% 50%;
    }
}
/** * Layout */
 .wrapper_form {
     position: relative;
     margin-top: 5rem;
     margin-right: auto;
     margin-left: auto;
     width: 80%;
     background: #fff;
     box-shadow: 3px 3px 32px rgba(0, 0, 0, .25);
     perspective: 1000;
}
 .flipper__checkbox:checked + .form__container {
     transform: rotateY(180deg);
}
 .form__container {
     position: relative;
     width: 100%;
     height: 100%;
     transform-style: preserve-3d;
     transition: transform 0.25s ease;
}
 .form__container--inner {
     padding: 2rem;
}
 .form__login, .form__signup {
     position: absolute;
     top: 0;
     left: 0;
     margin: 0;
     width: 100%;
     backface-visibility: hidden;
     background: #fff;
     box-shadow: 3px 3px 32px rgba(0, 0, 0, .25);
}
 .form__login:after, .form__signup:after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 10px;
     background: linear-gradient(270deg, #fa15c1, #fdec00);
     background-size: 400% 400%;
     animation: gradient 2s ease infinite;
}
 .form__login {
     z-index: 2;
     padding: 0rem;
    /* for firefox 31 */
     transform: rotateY(0deg);
}
 .form__signup {
     padding: 0rem;
     margin-left: -3.95rem;
     transform: rotateY(180deg);
}
/** * Form default styling */
 .form__header {
     margin-bottom: 2rem;
     font-size: 1.618rem;
     font-weight: 700;
     text-align: center;
}
 .form__group:nth-of-type(n+2) {
     margin-top: 1.5rem;
}
 .label__icon {
     padding: 0.97rem 0;
     float: left;
     width: 3rem;
     font-size: 1.25rem;
     text-align: center;
     color: rgba(107, 141, 159, .25);
     border-top: 1px solid #e1e1e1;
     border-bottom: 1px solid #e1e1e1;
     border-left: 1px solid #e1e1e1;
     border-top-left-radius: 2px;
     border-bottom-left-radius: 2px;
}
 .form__element {
     padding-top: 1.11rem;
     padding-right: 2rem;
     padding-left: 2rem;
     padding-bottom: 1.11rem;
     width: 100%;
     border-top: 1px solid #e1e1e1;
     border-right: 1px solid #e1e1e1;
     border-bottom: 1px solid #e1e1e1;
     border-left: 1px solid #e1e1e1;
     border-top-right-radius: 2px;
     border-bottom-right-radius: 2px;
}
 .form__element:focus {
     outline: 0;
}
 [type="checkbox"] {
     position: relative;
     margin-right: 0.5rem;
}
 [type="checkbox"]:after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     border: 1px solid #e1e1e1;
     width: 16px;
     height: 16px;
     background: #fff;
     border-radius: 2px;
     cursor: pointer;
}
 label[for="checkbox"] {
     position: relative;
     font-size: 0.9rem;
     font-weight: 700;
}
 .checkbox--forget:checked + .icon--checkbox {
     opacity: 1;
     transform: scale(1);
}
 .icon--checkbox {
     position: absolute;
     top: 4px;
     left: 6px;
     opacity: 0;
     cursor: pointer;
     transition: all 0.35s cubic-bezier(0.91, 0.8, 0.84, 2.81);
     transform: scale(0);
}
 .form__link {
     font-size: 0.8rem;
     font-weight: bold;
     text-decoration: underline;
     color: rgba(107, 141, 159, .75);
     cursor: pointer;
}
 .form__link:focus, .form__link:hover {
     color: rgba(107, 141, 159, .95);
}
 .link--right {
     float: right;
}
 .form__button {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #000;
    border: 0;
    border-radius: 0px;
    cursor: pointer;
}
 .form__button:focus, .form__button:hover {
     background-color: #0b74c7;
}
.form__group:nth-of-type(n+2) {
    margin-top: 0rem !important;
}
.container-registro{
    margin-top: 10%;
}


