.section-formulario{
    background: #fff url('../img/herramientas/CEO_registro_bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}
.container-formulario{
    padding-top: 7%;
}
.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}
.imageForm {
    width: auto;
    height: 460px
}
.imageRegister{
    width: auto;
    height: 650px
}
.panelesForm{
    width: auto;
    height: 630px
}
.card2 {
    margin: 0px 40px
}

.border-line {
    border-right: 1px solid #EEEEEE
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.text-sm {
    color: #000;
    font-size: 17px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea, select {
    padding: 10px 12px 10px 12px;
    border: 1px solid #b5b5b5;
    border-radius: 0px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-black {
    background-color: #000;
    width: 100%;
    color: #fff;
    border-radius: 0px;
    padding: 12px;
    font-size: 16px;
}

.btn-black:hover {
    background-color: #fdeb00;
    cursor: pointer;
    color: #000;
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}
.register-account{
    font-size: 13px;
    font-weight: 500;
}
.text-dangers{
    color: #fb16c1;
    font-size: 15px;
}
.help-block-error{
    font-size: 15px;
    font-weight: 300;
    color:#ee2b2b;
}
#municipio {
    display: none;
}
#rfc {
    display: none;
}
.space-recovery-80{
    margin-top: 80px;
}

@media screen and (max-width: 991px) {
    .border-line {
        border-right: none
    }
    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px !important
    }
}
@media screen and (max-width: 580px) {
    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 5px !important
    }
    .space-recovery-80{
        margin-top: 20px !important;
    }
}




.error{
  color: #fc071e !important;
  font-size: 14px;
  font-weight: 300;
}
.response-exist {
    color: #000;
    background: #01fafa;
    padding: 10px;
    margin-bottom: 20px;
    border: none !important;
    padding: 20px;
    font-size: 16px;
    border-radius: 0px;
    font-family: 'Saira-Regular', sans-serif !important;
}
.response-success {
    color: #000;
    background: #ffe900;
    padding: 10px;
    margin-bottom: 20px;
    border: none !important;
    padding: 20px;
    font-size: 16px;
    border-radius: 0px;
    font-family: 'Saira-Regular', sans-serif !important;
}
.response-error {
    color: #fff;
    background: #e32447;
    padding: 10px;
    margin-bottom: 20px;
    border: none !important;
    padding: 20px;
    font-size: 16px;
    border-radius: 0px;
    font-family: 'Saira-Regular', sans-serif !important;
}
#btn-registrarme {
    float: right;
}
.width_100{
  width: 100%;
}



/*
==============================
        CHECKBOX
==============================
*/

.toggle{
  --uiToggleSize: var(--toggleSize, 1.25rem);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
  --uiToggleColor: var(--toggleColor, #222);
  display: var(--toggleDisplay, inline-flex);
  position: relative;
}

.toggle__input{
  width: var(--uiToggleSize);
  height: var(--uiToggleSize);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.toggle__label{
  display: inline-flex;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--toggleIndent, .4em));
}

.toggle__input:not(:disabled) ~ .toggle__label{
  cursor: pointer;
}
.toggle__label::before, 
.toggle__label::after{
  content: "";
  box-sizing: border-box;  
  width: 1em;
  height: 1em;
  font-size: var(--uiToggleSize); /* 1 */
  position: absolute;
  left: 0;
  top: 0;
}

.toggle__label::before{
  border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
  z-index: 2;
}

.toggle__input:not(:disabled) ~ .toggle__label::after{
  background-color: var(--uiToggleColor);
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label::after{
  opacity: 1;
}

.toggle__text{
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 300;
}

.toggle__input:not(:disabled) ~ .toggle__label .toggle__text::before{
  content: "";
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize); /* 1 */
  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--toggleArrowColor, #fff);
  position: absolute;
  top: .5428em;
  left: .25em;
  z-index: 3;
  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text::before{
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
  width: .4em;
  height: .2em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
}

.toggle:focus-within{
  outline: none;
  outline-offset: none;
}

/* disabled state */

.toggle__input:disabled ~ .toggle__label{
  opacity: var(--toggleOpacityDisabled, .24);
  cursor: var(--toggleCursorDisabled, not-allowed);
}

.toggle__label::before, 
.toggle__label::after{
  border-radius: var(--toggleBorderRadius, 2px);
}

.toggle__input:not(:disabled) ~ .toggle__label::before,
.toggle__input:not(:disabled) ~ .toggle__label::after{
  opacity: 1;
  transform-origin: center center;
  will-change: transform;
  transition: transform .2s ease-out;
}

.toggle__input:not(:disabled) ~ .toggle__label::before{
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.toggle__input:not(:disabled) ~ .toggle__label::after{
  transform: rotateY(90deg);
}

.toggle__input:not(:disabled):checked ~ .toggle__label::before{
  transform: rotateY(-90deg);
  transition-delay: 0s;
}

.toggle__input:not(:disabled):checked ~ .toggle__label::after{
  transform: rotateY(0deg);
  transition-delay: .2s;
}

.toggle__text::before{
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text::before{
  opacity: 1;
  transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
}

.toggle{
  --toggleColor: #fb16c1;
  --toggleBackgroundColor: #fb16c1;
  --toggleSize: 30px;
}
.page__toggle {
    color: #000;
}
.page__toggle .smaller {
    color: #fb16c1;
}